body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav-logo {
  width: 55px;
  height: 55px;
}

/* mobile nav icon border */
.navbar-toggler {
  color: white!important;
  border-color: white!important;
}

.card {
  border-radius: 1px!important;
  border-color: transparent!important;
  box-shadow: 0 0 0 1px rgba(0,0,0,.05)  
}

p,
label, 
li,
a {
  font-size: 0.85em;
}

a {
  text-decoration: none!important;
}

input, 
textarea, 
.location-box,
.react-date-picker__wrapper,
.PhoneInputInput {
  font-size: 0.85em!important;
  border-radius: 0px!important;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .08)!important;
  padding: .375rem .75rem!important;
}

textarea:focus, 
button:focus,
a:focus,
.location-box:focus,
.react-date-picker__wrapper:focus {
  outline: none!important;
}

button {
  border-radius: 2px!important;
  font-size: 0.85em!important;
}

#navbar {
  padding-right: 6%;
  padding-left: 6%;
  padding-top: 0!important;
  padding-bottom: 0!important;
  background-color: #8fbcff!important;
}

#navbar .nav-link {
  color: white!important;
}

.dropdown-menu > a {
  font-size: 0.9em;
}

.dropdown-search-box {
  position: absolute;
  z-index: 1!important;
}

.dropdown-search-item {
  cursor: pointer;
}

.dropdown-search-item:hover {
  opacity: 0.9;
  background-color: lightgrey;
}

#live-search-container {
  position: relative;
  width: 100%;
}

#live-search-box {
  z-index: 2;
  position: absolute;
  width: 100%;
}

#fixed-sign-up-button {
  position: fixed;
  padding: 5px;
  bottom: 10px; 
  left: 10px;
  z-index: 2;
}

.btn-primary {
  background-color: #8fbcff!important;
  border-color: #8fbcff!important;
}

.btn-primary:hover {
  opacity: 0.7;
}

.btn-outline-primary {
  color: #8fbcff!important;
  border-color: #8fbcff!important;
}

.btn-outline-primary:hover {
  background-color: #8fbcff!important;
  border-color: #8fbcff!important;
  color: white!important;
}

.bg-primary {
  background-color: #8fbcff!important;
}

.text-primary {
  color: #8fbcff!important;
}

.info-icon {
  color: #8fbcff;
}

.info-icon:hover {
  opacity: 0.7;
}

.alert {
  position: fixed!important;
  z-index: 3;
}

@media only screen and (max-width: 767px) {
  #users-case-card {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}



