body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  border-radius: 1px!important;
  border-color: transparent!important;
  box-shadow: 0 0 0 1px rgba(0,0,0,.05)
           
}

p,
label, 
li {
  font-size: 0.85em;
}

input, 
textarea, 
.location-box,
.react-date-picker__wrapper {
  font-size: 0.85em!important;
  border-radius: 0px!important;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .08)!important;
}

input:focus,
textarea:focus, 
.location-box:focus,
.react-date-picker__wrapper:focus {
  outline: 0;
}

button {
  border-radius: 2px!important;
  font-size: 0.85em!important;
}

#navbar {
  padding-right: 6%;
  padding-left: 6%;
}

.dropdown-menu > a {
  font-size: 0.9em;
}

.dropdonw-search-box {
  position: absolute;
  z-index: 1!important;
}



